.margin-bottom{
    margin-bottom: 20px;
}
.lead{
    font-weight: 500;
    font-size: 1.5em;
}

.img-responsive{
    width: 100% ;
}
.thumbnail{
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 10px;
    margin: 10px 0;
}
.caption-full{
    padding: 20px;
}
.caption-full > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem 0;
}
.author{
    color: #0099ff;
    font-size: 1.2em;
}
.pull-right{
    padding-top: 8px;
    font-weight: 600;
}
.commenting{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.well{
    background-color: rgba(128,128,128,0.1);
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 5px;
    padding: 20px;
}
.delete-form{
    display: inline;
}
.fa-free-code-camp{
padding-right:10px;

}
.index-header{
    display: flex;
}
.nav-link{
    font-weight: 600;
}
h3{
    text-align: center;
    padding-bottom:10px ;
}
p{
    font-weight: 500;
}

.contact-textarea{
    width: 100%;
    padding: 10px;
    height: 150px;
}
.error{
    color: #f30808;
    font-weight: bolder;
    width:300px;
    height: 50px;
    font-size: 1.2em;
    padding: 10px;
    box-shadow: 2px 2px 8px 2px rgba(128,128,128,0.5);
    border-left: 5px solid red;
    position: fixed;
    right: 20px;
    top:70px;
}

.success{
    color: #009c2f;
    font-weight: bolder;
    width:300px;
    height: 50px;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: 2px 2px 8px 2px rgba(128,128,128,0.5);
    border-left: 5px solid #009c2f;
    position: fixed;
    right: 20px;
    top:70px;
    background-color: white;
}

